<h1><%= @list.list_name %></h1>

<ul>
	<% @listitems.each do |item| %>
		<li><%= Ingredient.find_by(:id => item.ingred_id).name %></li>
	<% end %>
</ul>



<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
