<h1>Welcome to ShopperHelper</h1>

<p>ShopperHelper was created to mitigate the downsides of cooking (except cleaning dishes), by 
	making it easy to save and plan meals, and make it easier to get in an out of the
	supermarket</p>