<h1>Welcome to ShopperHelper</h1>

<p>ShopperHelper was created to mitigate the downsides of cooking (except cleaning dishes!) by 
	making it easy to save recipes, plan meals, and get in and out of the
	supermarket</p>

<h3><strong>To begin, <%= link_to "log in", "/sessions" %> or 
	<%= link_to "sign up", "/users" %>!</strong></h3>